@font-face {
  font-family: 'SS Pro';
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'SS Pro bold';
  src: url("../fonts/SourceSansPro-Semibold.ttf");
}

form p {
  font: 400 32px/60px SS Pro bold;
  color: #333;
}

form label, form #toDoName, form li, #add, .delete {
  font: 400 20px SS Pro bold;
  color: #333;
}

#add:active {
  background: linear-gradient(to top, #0980ff, #6cb3fa);
  border-color: #067eff;
  color: #fff;
}

form p, form label, form li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form p {
  text-align: center;
  cursor: default;
}

form #toDoName {
  width: 561px;
  height: 29px;
  border: 1px solid #b9b9b9;
  border-right: none;
  margin: 0 0 10px 10px;
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
}

form #toDoName:focus {
  outline: none;
}

form li {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #b9b9b9;
  border-top: none;
  width: 87%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

form li:first-child {
  border: 1px solid #b9b9b9;
}

form li:nth-child(odd) {
  background-color: #f5f5f5;
}

form li:hover {
  background-color: #a8a8a8;
}

#toDoList {
  width: 800px;
  height: 600px;
  background-color: #ececec;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 4px;
}

#defaultObj {
  width: 700px;
  margin: 0 0 0 30px;
}

#placeHolder {
  font: 400 22px/400px 'SS Pro bold';
  color: #888;
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#add {
  cursor: pointer;
  user-select: none;
  text-align: center;
  line-height: 31px;
  display: block;
  width: 110px;
  background-color: #fff;
  height: 31px;
  position: absolute;
  top: 60px;
  right: 31px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #b9b9b9;
}

.delete {
  color: #ff6058;
  position: absolute;
  right: 0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border-radius: 50% 0 0 50%;
  width: 70px;
  text-align: center;
  background-color: #d0d0d0;
  transition-duration: 1s;
}

#thing {
  position: relative;
}

.delete:hover {
  background-color: #ff6058;
  color: #f2f2f2;
}

.check {
  color: #1da1f2;
}

#scroll {
  width: 100%;
  height: 80%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888888;
}
